"settings
set ideamarks
set ideajoin
set ideawrite

set number
set relativenumber
set noshowmode
set noshowcmd
set nohls
set incsearch
set ignorecase
set smartcase

"plugins
set surround
set exchange
set commentary
set argtextobj
set textobj-entire
set textobj-indent
set easymotion
set vim-paragraph-motion
set highlightedyank
set multiple-cursors

"leader
let mapleader = " "

"remaps
nnoremap U <C-r>
nnoremap ' "
nnoremap " '

"nops
map Q <nop>
map <C-r> <nop>

"meta
nnoremap <leader>vc :edit ~/.ideavimrc<CR>
nnoremap <leader>vs :source ~/.ideavimrc<CR>

"windows
nnoremap <leader>wh :split<CR>
nnoremap <leader>wv :vsplit<CR>
nnoremap <leader>wr :action ChangeSplitOrientation<CR>
nnoremap <leader>wc :close<CR>
nnoremap <leader>wo :only<CR>
"nnoremap <M-h> :action PreviousSplitter<CR>
nnoremap <M-l> :action NextSplitter<CR>
"nnoremap <M-j> :action EditorDown<CR>
"nnoremap <M-k> :action EditorUp<CR>
"nnoremap <M-left> :action DecrementWindowWidth<CR>
"nnoremap <M-right> :action IncrementWindowWidth<CR>
"nnoremap <M-up> :action DecrementWindowHeight<CR>
"nnoremap <M-down> :action IncrementWindowHeight<CR>

"buffers
nnoremap <leader>bcc :action CloseActiveEditor<CR>
nnoremap <leader>bca :action CloseAllEditors<CR>
nnoremap <leader>bch :action CloseAllToTheRight<CR>
nnoremap <leader>bcl :action CloseAllToTheLeft<CR>
nnoremap <leader>bco :action CloseAllEditorsButActive<CR>
nnoremap <leader>bcm :action CloseAllUnmodifiedEditors<CR>
nnoremap <leader>bcp :action CloseAllUnpinnedEditors<CR>
nnoremap <M-d> :close<CR>
nnoremap <M-n> :tabnext<CR>
nnoremap <M-p> :tabprevious<CR>

"project
nnoremap <leader>pn :action NewProject<CR>
nnoremap <leader>pr :action RenameFile<CR>
nnoremap <leader>pR :action RenameProject<CR>
nnoremap <leader>p] :action NextProjectWindow<CR>
nnoremap <leader>p[ :action PreviousProjectWindow<CR>
nnoremap <leader>pcc :action CloseProject<CR>
nnoremap <leader>pca :action CloseAllProjects<CR>
nnoremap <leader>pco :action CloseOtherProjects<CR>
nnoremap <leader>pb :action ViewNavigationBar<CR>
nnoremap <leader>pe :action ActivateProjectToolWindow<CR>
nnoremap <M-f> :action GotoFile<CR>
nnoremap <M-r> :action RecentFiles<CR>

"jumps
nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap [e :action GotoPreviousError<CR>
nnoremap ]e :action GotoNextError<CR>

"preview
nnoremap <leader>lpd :action QuickDefinition<CR>
nnoremap <leader>lpt :action QuickTypeDefinition<CR>
nnoremap <leader>lpi :action QuickImplementations<CR>
nnoremap <leader>lpq :action QuickPreview<CR>
nnoremap <leader>lpD :action QuickDocumentation<CR>

"symbols
nnoremap <leader>lsc :action CallHierarchy<CR>
nnoremap <leader>lsr :action RenameElement<CR>

"actions
nnoremap <leader>laf :action ReformatCode<CR>
nnoremap <leader>laF :action ShowReformatFileDialog<CR>
nnoremap <leader>lai :action OrganizeImports<CR>

"ui
nnoremap <leader>usp :action ActivateProjectToolWindow<CR>
nnoremap <leader>usP :action ActivateProblemsViewToolWindow<CR>
nnoremap <leader>ust :action ActivateTerminalToolWindow<CR>
nnoremap <leader>usT :action ActivateTODOToolWindow<CR>
nnoremap <leader>usd :action ActivateDebugToolWindow<CR>
nnoremap <leader>usD :action ActivateDocumentationToolWindow<CR>
nnoremap <leader>ush :action ActivateHierarchyToolWindow<CR>
nnoremap <leader>usg :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>usc :action ActivateCommitToolWindow<CR>
nnoremap <leader>usn :action ActivateNpmToolWindow<CR>
nnoremap <leader>usf :action ActivateFavoritesToolWindow<CR>
nnoremap <leader>uss :action ActivateStructureToolWindow<CR>
nnoremap <leader>uha :action HideAllWindows<CR>
nnoremap <leader>uhs :action HideSideWindows<CR>
nnoremap <leader>uhc :action HideCurrentWindow<CR>

"build+execution+debugging

"vcs
"nnoremap <leader>gbr :action Git.Rename.Local.Branch<CR>

"random
nnoremap <C--> :action EditorDecreaseFontSize<CR>
nnoremap <C-=> :action EditorIncreaseFontSize<CR>
