"source
source ~/dotfiles/dotfiles/vim/clients/ideavim.vim
"source ~/.config/nvim/init.vim

"settings
set ideamarks
set ideajoin
set ideawrite

"plugins
set surround
set commentry
set argtextobj
set exchange
set textobj-entire
set textobj-indent
set easymotion
set highlightedyank
set vim-paragraph-motion
set multiple-cursors

"overrides
nnoremap <leader>vc ~/.ideavimrc<CR>
nnoremap <leader>vs source ~/.ideavimrc<CR>
